@keyframes h1change{
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        transform: scale(.2) rotate(25deg);
    }
    50%{
        transform: scale(1) rotate(0deg);
        text-shadow: -12px -8px -5px rgba(0, 0, 0, 0.5);       
    }
    75%{
        transform: scale(.2)  rotate(-25deg);
      
    }
    100%{
        transform: scale(1) rotate(0deg);
       
    }
}


@keyframes shadow-animation {
    0% {
      text-shadow: 12px 8px 5px rgba(0, 0, 0, 0.25);
    }
    50% {
      text-shadow: -12px -8px 5px rgba(0, 0, 0, 0.75);
    }
        100% {
      text-shadow: 12px 8px 5px rgba(0, 0, 0, 0.25);
    }
  }
  