#map {
    transform-origin: center;
    animation: flipInXY 3s linear forwards;
    /* Kombinerad flip-animation */
}

//Animerar kartan vid laddning
@keyframes flipInXY {
    0% {
        transform: rotateX(90deg) rotateY(90deg);
        /* Börjar med både X och Y rotation */
    }

    50% {
        transform: rotateX(45deg) rotateY(45deg);
        /* Halvvägs roterad */
    }

    100% {
        transform: rotateX(0) rotateY(0);
        /* Återgår till normalt läge */
    }
}

//popupen från leaflet
.leaflet-popup-tip {
    opacity: 0;
    visibility: hidden;
    animation: showtip 2s 1s forwards;
}

//Animerar från osynlig till synlig
@keyframes showtip {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
.leaflet-popup-content {
    width: fit-content;
    max-height: 260px; /* Begränsar höjden */
    overflow-y: auto; /* Gör att innehållet kan skrollas */
}


.leaflet-popup-content-wrapper {
    position: relative;
    z-index: 2000;
    overflow: visible;
    animation: bounce 2s ease-out;
}

//popupen studsar
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}