@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #232121; 
$header-color:#8d9768;  
$mainelement-color:#4ec441;
$nav-color:   #779f6c;         
$hover-color: #50b360a8;
$active-color:#95ab86;         
$footer-color: #6a8368;       
$text-color: #121212;   

$light-bg: #ffffff;
$light-text: #000000;
$dark-bg: #46070f;
$dark-text: #ffffff;

